@model IEnumerable<Forum.DataModels.ForumModel>
<h3>Forums</h3>
<div class="card" style="padding:1rem;">    
    <a asp-action="CreateForum">Create New Forum</a>
    <table class="table table-hover table-light">
        <thead>
            <tr>
                <td>Title</td>
                <td>Description</td>
                <td>Icon</td>
                <td>Action</td>
            </tr>
        </thead>
        @foreach (var forum in Model)
        {
            <tbody>
                <tr>
                    <td>@forum.Title</td>
                    <td>@forum.Description</td>
                    <td><img src="@forum.ImageUrl" style="height:50px;width:50px;" /></td>
                    <td><a class="btn btn-outline-primary" asp-controller="Forum" asp-action="Posts" asp-route-id="@forum.Id">View Posts</a></td>
                </tr>

            </tbody>
        }
    </table>
</div>
