@model Forum.DataModels.UserModel
<div class="container">
    <div class="card p-5 box-shadow">
        <div class="col-12">
            <div class="row">
                <div class="col-4 my-auto mx-auto">                    
                    <div>
                        <h3><bold>Lambda Forums</bold></h3>
                    </div>
                    <div>
                        <form method="post" asp-controller="Login" asp-action="Login">
                            <div class="row">
                                <input asp-for="Username" placeholder="Enter Username" class="form-control" />
                            </div>
                            <div class="row">
                                <input asp-for="Password" placeholder="Enter Password" class="form-control"type="password"/>
                            </div>
                            <div class="row mt-3">
                                <input type="submit" value="Login" class="btn btn-outline-success" />
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-6 mx-auto my-auto">
                    <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_qmfs6c3i.json" background="transparent" speed="1" style="width: 600px; height: 600px;" autoplay></lottie-player>
                </div>
            </div>
        </div>        
    </div>
</div>