@model Forum.DataModels.UserModel
<div class="container">
    <div class="card">
        <form formaction="Post">
            <div class="row">
                <input asp-for="Username" placeholder="Enter Username" />
            </div>
            <div class="row">
                <input asp-for="Password" placeholder="Enter Password" />
            </div>
            <div class="row">
                <a asp-controller="Login"></a>
            </div>
        </form>
    </div>
</div>