@model Forum.ViewModels.ReplyViewModel
<div class="container">
    <div class="col-12">
        <div class="row">
            <div class="card">
                <h1>You are replying as: @Model.User.Username</h1>
            </div>
        </div>

        <div class="row">
            <div class="card">
                <form method="post" asp-action="SubmitComment" asp-controller="Posts">
                    <input type="hidden" asp-for="@Model.PostId" />
                    <input type="hidden" asp-for="@Model.User.Id" />
                    <textarea asp-for="@Model.Reply.ReplyContent" class="form-control" rows="10"></textarea>
                    <input type="submit" class="btn btn-outline-success" value="Submit Comment" />
                </form>
            </div>            
        </div>

    </div>
</div>